
<script type="text/javascript" src="{{ site.baseurl }}/themes/folia-child/js/jquery.fitvids.js?ver=4.7.25"></script>
<script type="text/javascript" src="{{ site.baseurl }}/themes/folia-child/js/fitvids.js?ver=4.7.25"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.min.js?ver=4.7.25"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.min.js?ver=4.7.25"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/isotope.min.js?ver=4.7.25"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/packery.min.js?ver=4.7.25"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/owl.carousel.min.js?ver=4.7.25"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.lazyload.min.js?ver=4.7.25"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/custom.js?ver=4.7.25"></script>
</body>
</html>