<picture>
    <source
    media="(min-width: 1200px)"
    srcset="{{ include.src }}?width=1500&force_format=webp"
    type="image/webp"
    />
    <source
    media="(min-width: 1200px)"
    srcset="{{ include.src }}?width=1500"
    type="image/jpeg"
    />
    <source
    media="(min-width: 768px)"
    srcset="{{ include.src }}?width=1200&force_format=webp"
    type="image/webp"
    />
    <source
    media="(min-width: 768px)"
    srcset="{{ include.src }}?width=1200"
    type="image/jpeg"
    />
    <source
    media="(max-width: 767px)"
    srcset="{{ include.src }}?width=800&force_format=webp"
    type="image/webp"
    />
    <source
    media="(max-width: 767px)"
    srcset="{{ include.src }}?width=800"
    type="image/jpeg"
    />
    <source
    media="(max-width: 576px)"
    srcset="{{ include.src }}?width=600&force_format=webp"
    type="image/webp"
    />
    <source
    media="(max-width: 576px)"
    srcset="{{ include.src }}?width=600"
    type="image/jpeg"
    />
    <!-- Fallback image -->
    <img
    src="{{ include.src }}?width=1200"
    loading="lazy"
    alt="{{ include.alt }}"
    />
</picture>