<picture>
    <source
    media="(min-width: 1200px)"
    srcset="{{ include.src }}?tr=w-1500,f-webp"
    type="image/webp"
    />
    <source
    media="(min-width: 1200px)"
    srcset="{{ include.src }}?tr=w-1500"
    type="image/jpeg"
    />
    <source
    media="(min-width: 768px)"
    srcset="{{ include.src }}?tr=w-1200,f-webp"
    type="image/webp"
    />
    <source
    media="(min-width: 768px)"
    srcset="{{ include.src }}?tr=w-1200"
    type="image/jpeg"
    />
    <source
    media="(max-width: 767px)"
    srcset="{{ include.src }}?tr=w-800,f-webp"
    type="image/webp"
    />
    <source
    media="(max-width: 767px)"
    srcset="{{ include.src }}?tr=w-800"
    type="image/jpeg"
    />
    <source
    media="(max-width: 576px)"
    srcset="{{ include.src }}?tr=w-600,f-webp"
    type="image/webp"
    />
    <source
    media="(max-width: 576px)"
    srcset="{{ include.src }}?tr=w-600"
    type="image/jpeg"
    />
    <!-- Fallback image -->
    <img
    src="{{ include.src }}?tr=w-1200"
    loading="lazy"
    alt="{{ include.alt }}"
    />
</picture>
