<div class="row">			
    <div class="col-md-12">
        <div class="clearfix portfolio-section">
            <div class="row portfolios-container">
                {% assign portfolios = site.portfolio | sort: 'portfolio_nr' | reverse %}
                {% for item in portfolios %}                   
                    {% if item.url != "/portfolio/index.html" and item.url != "/portfolio/" %}
                        <div class="col-sm-{{item.col_size|default: "6" }}" style="padding: 15px;">								
                            <div class="ih-item ZXYfIoBgNw square effect6 bottom_to_top" data-cats="[]">
                                <a href="{{ site.baseurl }}{{item.url}}" class="" data-type="">
                                    <div class="img">
                                        <picture>
                                            <!-- Large screens -->
                                            <source
                                            media="(min-width: 1200px)"
                                            srcset="https://cmaqjisqoa.cloudimg.io/_mnr_bckt{{ item.image }}?width={{ item.col_size | times: 150 }}&force_format=webp"
                                            type="image/webp"
                                            />
                                            <source
                                            media="(min-width: 1200px)"
                                            srcset="https://cmaqjisqoa.cloudimg.io/_mnr_bckt{{ item.image }}?width={{ item.col_size | times: 150 }}"
                                            type="image/jpeg"
                                            />

                                            <!-- Medium screens -->
                                            <source
                                            media="(min-width: 768px)"
                                            srcset="https://cmaqjisqoa.cloudimg.io/_mnr_bckt{{ item.image }}?width={{ item.col_size | times: 100 }}&force_format=webp"
                                            type="image/webp"
                                            />
                                            <source
                                            media="(min-width: 768px)"
                                            srcset="https://cmaqjisqoa.cloudimg.io/_mnr_bckt{{ item.image }}?width={{ item.col_size | times: 100 }}"
                                            type="image/jpeg"
                                            />

                                            <!-- Small screens -->
                                            <source
                                            media="(max-width: 767px)"
                                            srcset="https://cmaqjisqoa.cloudimg.io/_mnr_bckt{{ item.image }}?width=800&force_format=webp"
                                            type="image/webp"
                                            />
                                            <source
                                            media="(max-width: 767px)"
                                            srcset="https://cmaqjisqoa.cloudimg.io/_mnr_bckt{{ item.image }}?width=800"
                                            type="image/jpeg"
                                            />

                                            <!-- Mobile screens -->
                                            <source
                                            media="(max-width: 576px)"
                                            srcset="https://cmaqjisqoa.cloudimg.io/_mnr_bckt{{ item.image }}?width=600&force_format=webp"
                                            type="image/webp"
                                            />
                                            <source
                                            media="(max-width: 576px)"
                                            srcset="https://cmaqjisqoa.cloudimg.io/_mnr_bckt{{ item.image }}?width=600"
                                            type="image/jpeg"
                                            />

                                            <!-- Fallback image -->
                                            <img
                                            class="mz-portfolio-listing-img"
                                            src="https://cmaqjisqoa.cloudimg.io/_mnr_bckt{{ item.image }}?width={{ item.col_size | times: 100 }}"
                                            loading="lazy"
                                            alt="Go to portfolio item {{ item.title }}"
                                            />
                                        </picture>
                                    </div>

                                    <div class="info">
                                        <div class="info-holder middle center">
                                            <h3> {{item.title}} </h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </a>								
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>