{% assign portfolios = site.portfolio | sort: 'portfolio_nr' | reverse %}

{% for item in portfolios %}
	{% if item.title == page.title %}
		{% unless forloop.first %}
			{% assign prev = tmpprev %}
		{% endunless %}
		{% unless forloop.last %}
			{% assign next = portfolios[forloop.index] %}
		{% endunless %}
	{% endif %}
	{% assign tmpprev = item %}
{% endfor %}



<div class="next-prev">
    <hr>
    <div class="row">
        <div class="col-sm-5">
            {% if page.url != "{{ site.baseurl }}/portfolio/" %}
                {% if prev %}         
                    <p><a href="{{ site.baseurl }}{{ prev.url}}"><i class="fa fa-angle-left"></i> {{ prev.title }}</a></p>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-sm-2">
            <div class="text-center">
                <a href="{{ site.baseurl }}/">
                    <i class="fa fa-th-large"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-5 text-right">
            {% if page.url != "{{ site.baseurl }}/portfolio/" %}
                {% if next %}
                    <p><a href="{{ site.baseurl }}{{ next.url}}">{{ next.title }} <i class="fa fa-angle-right"></i></a></p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <hr>
</div>